.vxa-token{ cursor: pointer; }
.vxa-punct {background: rgba(136, 136, 136, 0.55); padding:0; margin:0;}
.vxa-token-0 {background: rgba(209, 17, 65, 0.85); border-radius:3px;}
.vxa-token-0:hover {background: rgba(209, 17, 65, 0.65);}
.vxa-token-1 {background: rgba(0, 177, 89, 0.85); border-radius:3px;}
.vxa-token-1:hover {background: rgba(0, 177, 89, 0.65);}
.vxa-token-2 {background: rgba(0, 174, 219, 0.85); border-radius:3px;}
.vxa-token-2:hover {background: rgba(0, 174, 219, 0.65);}
.vxa-token-3 {background: rgba(255, 196, 37, 0.85); border-radius:3px;}
.vxa-token-3:hover {background: rgba(255, 196, 37, 0.65);}
